.step-js-scrollable-panel {
  position: relative;
  --step-js-scrollable-panel-scroll-bar-size: 8px;
}

/* avoid scroll bars flickering */
.step-js-scrollable-panel-viewport {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
  }
}

.step-js-scrollable-panel {
  &.-x-scroll-bar {
    .step-js-scrollable-panel-content-wrapper {
      display: inline-block;
    }
  }

  &.-y-scroll-bar {
    .step-js-scrollable-panel-content-wrapper {
      display: block;
    }
  }

  &.-xy-scroll-bars {
    .step-js-scrollable-panel-content-wrapper {
      display: inline-block;
    }
  }
}

.step-js-scroll-bar-track {
  display: block;
  position: absolute;
  visibility: inherit;
  background-color: rgba(175, 82, 222, 0.25);
}

.step-js-scroll-bar-thumb {
  cursor: pointer;
  position: absolute;
  background-color: rgba(175, 82, 222, 0.5);
}
